---
import Tailwind from "../icons/technologies/Tailwind.astro";
import Angular from "../icons/technologies/Angular.astro";
import AstroIcon from "../icons/technologies/AstroIcon.astro";
import Flutter from "../icons/technologies/Flutter.astro";
import Spring from "../icons/technologies/Spring.astro";
import TypeScript from "../icons/languages/TypeScript.astro";
import Vue from "../icons/technologies/Vue.astro";
import CPlusPlus from "../icons/languages/C++.astro";
import Csharp from "../icons/languages/Csharp.astro";
import Html from "../icons/languages/Html.astro";
import Css from "../icons/languages/Css.astro";
import Javascript from "../icons/languages/Javascript.astro";
import Java from "../icons/languages/Java.astro";
import Dart from "../icons/languages/Dart.astro";
import Dotnet from "../icons/technologies/Dotnet.astro";
import React from "../icons/technologies/React.astro";

import Carrousell from "./Carrousel.astro";

const languages = [
  { name: "C++", iconTech: CPlusPlus, },
  { name: "C#", iconTech: Csharp,},
  { name: "Html", iconTech: Html,},
  { name: "Css", iconTech: Css,},
  { name: "Javascript", iconTech: Javascript,},
  { name: "TypeScript", iconTech: TypeScript,},
  { name: "Java", iconTech: Java,},
  { name: "Dart", iconTech: Dart,}
];

const technologies = [
  { name: "Flutter", iconTech: Flutter, },
  { name: "Tailwind", iconTech: Tailwind,},
  { name: "Angular", iconTech: Angular,},
  { name: "Astro", iconTech: AstroIcon,},
  { name: "Spring", iconTech: Spring,},
  { name: "Vue", iconTech: Vue,},
  { name: "Dotnet", iconTech: Dotnet},
  { name: "React", iconTech: React}
];

import { geti18n } from "../i18n/"

const { currentLocale } = Astro
const i18n = geti18n({currentLocale})
---
<div class="grid grid-cols-1 grid-rows-4 justify-center items-center gap-y-8">
    <h3 class="text-green-600 dark:text-yellow-300/90 mb-3 font-bold text-xl justify-self-center">
        {i18n.LENGUAJES_CONOCIDOS}
    </h3>
    <Carrousell array={languages} styleInfinite="animate-infinite-scroll"/>
    <h3 class="text-green-600 dark:text-yellow-300/90 my-3 font-bold text-xl justify-self-center">
        {i18n.FRAMEWORKS_CONOCIDOS}
    </h3>
    <Carrousell array={technologies} styleInfinite="animate-infinite-scroll-reverse"/>
</div>
